Scribble Defence/Library/
*.csproj
*.sln
*.userprefs
Scribble Defence/Library/guidmapper

Scribble Defence/Library/CurrentLayout.dwlt
Scribble Defence/Library/assetDatabase3

Scribble Defence/Library/InspectorExpandedItems.asset

Scribble Defence/Library/metadata/eb/eb468c6384a684d4bbd179accc92966d

Scribble Defence/Library/metadata/f9/f95dc2faabe454ae98990e46af566fa6

Scribble Defence/Library/CurrentMaximizeLayout.dwlt

Scribble Defence/Temp
